.profile {
  width: 100%;
  margin-bottom: 24px;
}

.pic-name {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}

.avatar {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.nickname {
  font-size: 16px;
  font-weight: 600;
}

.btn.primary {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
