.detail-modal-backdrop {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-modal {
  background: #fff;
  padding: 0px 20px 18px 20px;
  border-radius: 20px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
  width: 350px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* 상단 타이틀 + 닫기 버튼 */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 0;
}

.modal-title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.exit-icon {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

/* 제목 + 아래 구분선 */
.modal-title-text {
  font-size: 18px;
  font-weight: 700;
  margin: 4px 0 6px;
  color: #222;
  position: relative;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.detail-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.detail-item .label {
  font-weight: 600;
  font-size: 14px;
  color: #888;
  margin-bottom: 2px;
}

.content-text {
  font-size: 16px;
  color: #333;
  white-space: pre-wrap;
}

.detail-modal-btns {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}

.modal-btn {
  flex: 1;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gray-btn {
  background: #f3f3f3;
  color: #444;
  border: 1.5px solid #ddd;
}

.primary {
  background: #fc703b;
  color: white;
}
