.sign-up-container {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}

/* 로고 */
.text-logo {
  width: 120px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 8px;
}

/* 닉네임, 이메일, 비번, 비번확인 */
.sign-up-container p {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 4px;
  color: #333;
}

.sign-up-container InputField {
  margin-bottom: 20px;
}

/* 회원가입 버튼 */
Button {
  margin-top: 20px;
}

/* 이메일 옆에 인증번호 발송 */
.email-auth {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.num-check {
  margin: 0;
  height: 48px;
  padding: 0 8px;
  font-size: 16px;
  border-radius: 16px;
  width: 150px;
  background-color: #fff;
  color: #929292;
  border: 1px solid #929292;
}
