/* * {
  box-sizing: border-box;
}

.write {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
} */

/* 제목 */
.title {
  margin-top: 25px;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 0px 0px 5px 0px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  margin-bottom: 5px;
}
/* 날짜, 시간, 장소, 내용 라벨 */
label {
  font-size: 16px;
}
.input-group input {
  padding: 5px 0px;
  border: none;
}

input {
  border: none;
  outline: none;
}

input:hover {
  border: none;
  outline: none;
}

input:focus {
  border: none;
  outline: none;
}

/* 안내문구 */
p {
  font-size: 12px;
  color: #949494;
}

/* 내용 */

textarea {
  height: 70px;
}
textarea {
  border: none;
  outline: none;
}

textarea:hover {
  border: none;
  outline: none;
}

textarea:focus {
  border: none;
  outline: none;
}

.content-text {
  max-height: 100px; /* ✅ 또는 height: 150px; */
  overflow-y: auto;
  padding-right: 4px; /* 스크롤 여백 */
  white-space: pre-wrap; /* 줄바꿈 유지 */
}
